/*
 * trash.css (June, 2020)
 * Andres Guzman
 */

/* ==========================================================================
   fonts
   ========================================================================== */

   @font-face {
    font-family: 'Proxima';
    src: url('fonts/proxima/proxima_nova_alt_bold-webfont.woff2') format('woff2'),
         url('fonts/proxima/proxima_nova_alt_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima_alt';
    src: url('fonts/proxima_alt/mark_simonson_-_proxima_nova_alt_extra_condensed_semibold-webfont.woff2') format('woff2'),
         url('fonts/proxima_alt/mark_simonson_-_proxima_nova_alt_extra_condensed_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* ==========================================================================
   normalize
   ========================================================================== */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

::-moz-selection {
    background: #6a6de9;
    color: #ffffff;
    text-shadow: none;
}

::selection {
    background: #6a6de9;
    color: #ffffff;
    text-shadow: none;
}

a {
    background-color: transparent;
}

img {
    border-style: none;
}

p {
    margin: 0;
}

/* ==========================================================================
   basic styles
   ========================================================================== */

body {
    margin: 0;
    padding: 0;
    background-color: #1c1c24;
    box-sizing: border-box;
    height: 100%;
}

#main-scrollbar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* ==========================================================================
   intro
   ========================================================================== */

#intro {
    height: 86px;
    background-color: #212129;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all .55s ease 0s;
    overflow: hidden;
    padding: 0 70px;
}

#logo {
    outline: none;
    display: block;
    padding-top: 5px;
    width: 170px;
}

#logo svg {
    width: 110px;
    transition: fill .35s ease 0s;
}

.logo-fill {
  fill: #6a6de9;
  transition: fill .35s ease 0s;
}

#logo:hover .logo-fill {
    fill: #ffffff;
}

.intro-anon {
    color: #51535d;
    font: 14px "Proxima", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}


.intro-about {
    display: block;
    width: 115px;
    color: rgb(255, 255, 255);
    font: 13px "Proxima", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    transition: color .35s ease 0s;
}

.intro-about:hover {
    color: rgba(255, 255, 255, 0.25);
}

/* ==========================================================================
   main
   ========================================================================== */

main {
    padding: 100px 70px;
    transition: all .55s ease 0s;
}

/* ==========================================================================
   user input
   ========================================================================== */

#user-input {
    margin-bottom: 100px;
}

.user-input-write {
    color: rgba(255, 255, 255, 1);
    font: 20px "Proxima_alt", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
}

.user-input-write span {
    color: #51535d;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}


#comment {
    height: 80px;
    color: #ffffff;
    width: 100%;
    background-color: transparent;
    border: 2px solid #51535d;
    padding: 29px;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
    font: 16px "Proxima", Arial, Helvetica, sans-serif;
    transition: all .75s ease 0s;
    outline: none;
}

textarea#comment:focus {
    border-color: #ffffff;
  }

#pushbutton {
    width: 150px;
    height: 50px;
    background-color: #ffffff;
    cursor: pointer;
    color: #212129;
    font: 22px "Proxima_alt", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    border: 1px solid transparent;
    position: absolute;
    right: 90px;
}

#pushbutton:focus {
    outline: none;
}


/* ==========================================================================
   comment_div
   ========================================================================== */


#all_comments {
    list-style-position: inside;
    padding: 0;
    margin: 0;
    color: #ffffff;
    font: 20px "Proxima_alt", Arial, Helvetica, sans-serif;
}

#all_comments .comment_div:hover {
    color: #212129;
}


#all_comments:after {
    content: "";
    display: table;
    clear: both;
}

.comment_div {
    position: relative;
    background-color: #212129;
    padding: 35px;
    width: 272px;
    height: 378px;
    box-sizing: border-box;
    float: left;
    margin: 0 21px 21px 0;
    box-shadow: 0px 3px 5px 3px rgba(17, 17, 19, 0.15);
    transition: all .60s ease 0s;
}

.comment_div:hover {
    background-color: #ffffff;
}


.comment_div:hover .comment,
.comment_div:hover .time {
    color: #212129;
}


.comment-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 89%;
}

.comment {
    color: #51535d;
    font: 16px "Proxima", Arial, Helvetica, sans-serif;
    flex: 1;
    padding-top: 30px;
    white-space: pre-line;
    outline: none;
    overflow-wrap: break-word;
    transition: color .60s ease 0s;
}


.time {
    color: #51535d;
    font: 12px "Proxima", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 30px 0 0 0;
    transition: color .60s ease 0s;
}

/*
::marker {
    color: #ffffff;
    font: 30px "Proxima_alt", Arial, Helvetica, sans-serif;
    transition: color .60s ease 0s;
}
*/

/* ==========================================================================
   footer
   ========================================================================== */

footer {
    color: rgba(255, 255, 255, 0.20);
    font: 16px "Proxima", Arial, Helvetica, sans-serif;
    padding-top: 40px;
}

footer a {
    color: rgba(255, 255, 255, 0.20);
    float: right;
}


/* ==========================================================================
   about.html
   ========================================================================== */

#about {
    max-width: 50vw;
    margin: 0 auto;
}

.about-why {
    color: #ffffff;
    font: 2.75vw "Proxima", Arial, Helvetica, sans-serif;
}

.about-why a {
    color: #ffffff;
}


/* ==========================================================================
   media queries
   ========================================================================== */

@media screen and (max-width: 1613px) {
    #textarea-wrapper {
        max-width: 422px;
    }
}

@media screen and (max-width: 1400px) {
    #intro {
        padding: 40px;
        justify-content: space-between;
    }

    .intro-anon {
        display: none;
    }

    main {
        padding: 40px;
        margin: 0 auto;
    }

    #user-input {
        padding-bottom: 10px;
        margin-bottom: 23px;
    }

    .user-input-write {
        text-align: center;
    }

    #textarea-wrapper {
        max-width: 100%;
        margin: 0 auto 23px auto;
    }
}

@media screen and (max-width: 965px) {
    #intro {
        padding: 23px 10px;
    }

    main {
        padding: 23px 10px;
    }

    .comment_div {
        width: 100%;
        height: auto;
    }

    .comment {
        padding-bottom: 30px;
    }

    #comment {
        margin-bottom: 30px;
    }

    #pushbutton {
        position: relative;
        right: unset;
    }
}