/*
    autor: Andres Guzman (andres@camino.bo)
    date: June, 2017, last update August 2017
*/


/* fonts
-------------------------------------------------------------------- */

@font-face {
    font-family: 'Vollkorn Bold';
    src: url('fonts/vollkorn/vollkorn-bold-webfont.woff2') format('woff2'), url('fonts/vollkorn/vollkorn-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vollkornbold Italic';
    src: url('fonts/vollkorn/vollkorn-bolditalic-webfont.woff2') format('woff2'), url('fonts/vollkorn/vollkorn-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Motserrat Light';
    src: url('fonts/montserrat/montserrat-light-webfont.woff2') format('woff2'), url('fonts/montserrat/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* css reset
-------------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a,
button {
    outline: none;
}



/* basic styles
-------------------------------------------------------------------- */

:root {
    font-size: 16px;
}

::selection {
    background: #000000;
    color: #fff;
}

::-moz-selection {
    background: #000000;
    color: #fff;
}

body {
    line-height: 1;
    background-color: #ffffff;
}

#logo {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #000000;
    font: 1.125rem "Vollkornbold Italic", serif;
    text-decoration: none;
}

#about-open {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #000000;
    font: 1.125rem "Vollkorn Bold", serif;
}


#about-close img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    padding: 15px;
}

/* header
-------------------------------------------------------------------- */

header {
    padding-top: 125px;
    background-size: cover;
    position: relative;
    max-width: 720px;
    margin: 0 auto 86px auto;
    box-sizing: border-box;
    margin-bottom: 125px;
    text-align: center;
}

h1 {
    color: #000000;
    font: 2.75rem "Vollkorn Bold", serif;
}

h2 {
    color: #000000;
    font: 1.125rem "Vollkornbold Italic", serif;
    margin-bottom: 20px;
}

#counter {
    color: #666666;
}

/* main
-------------------------------------------------------------------- */

main {
    max-width: 720px;
    margin: 0 auto 25px auto;
    box-sizing: border-box;    
}

#error-pages {
    text-align: center;
}

#error-pages a {
    color: #161515;
    font: 1rem "Proxima Nova Regular", sans-serif;
}

/* user input
-------------------------------------------------------------------- */

#user-input {
    margin-bottom: 30px;
}

#user-input:after {
    content: "";
    display: table;
    clear: both;
}

#user-input #name {
    display: none;
}

#user-input #name:focus {
    background-color: #ffffff;
}

#user-input #COMMENT {
    width: 100%;
    height: 30px;
    padding-top: 8px;
    color: #161515;
    font: 0.875rem "Montserrat Light", sans-serif;
    border: 0;
    outline: 0;
    background-color: transparent;
    border-bottom: 1px solid #000000;    
    box-sizing: border-box;
    margin-bottom: 10px;
    resize: none; 
    transition: all 0.55s ease 0s;
}

#user-input #COMMENT:focus {
    background-color: #ffffff;
    height: 100px;
}

textarea::placeholder {
    color: #000000;
    font: 700 italic 11px Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

#user-input #submit {
    display: inline-block;
    color: #161515;
    background-color: #ffffff;
    font: bolder 0.8rem "Montserrat Light", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 160px;
    height: 45px;
    margin: 0 auto;
    border: 1px solid #000000;
    border-radius: 23px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.35s ease 0s;
    float: right;
}

#user-input #submit:hover {
    color: #ffffff;
    background-color: #161515;
}


/* user comments
-------------------------------------------------------------------- */

#display .comment-window:last-of-type {
    margin-bottom: 0;
}

.comment-window {
    background-color: #000000;
    padding: 40px 20px 60px 20px;
    margin-bottom: 8px;
    transition: all 0.35s ease 0s;
}

.comment-window:hover {
    background-color: #ffffff;
}

.comment-window:hover .comment-body {
    color: #000000;
}

.comment-window:hover .comment-date {
    color: rgba(0, 0, 0, 0.175);
}

.comment-postedby {
    display: none;
}

.comment-body {
    color: #ffffff;
    font: 0.875rem "Montserrat Light", sans-serif;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    margin-bottom: 4px;
    white-space: pre-line;
    transition: all 0.35s ease 0s;
}

.comment-date {
    color: rgba(255, 255, 255, 0.15);
    font: 0.7rem "Montserrat Light", sans-serif;
    transition: all 0.35s ease 0s;
}


/* footer
-------------------------------------------------------------------- */

footer:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    border-top: 1px solid #000000;
    max-width: 720px;
    padding-top: 20px;
    color: #000000;
    font: 0.75rem "Vollkorn Bold", sans-serif;
    margin: 0 auto 20px auto;
}

footer a {
    color: #000000;
    font-family: "Vollkorn Bold", sans-serif;
    text-decoration: underline;
    transition: color 0.35s ease 0s;
    float: right;
}

footer a:hover {
    color: rgba(22, 21, 21, 1);
}


/* about modal
-------------------------------------------------------------------- */

.about-modal {
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0s 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
}

.overflow-body {
    overflow: hidden;
}

.about-modal p {
    max-width: 720px;
    color: #ffffff;
    font: 1.45rem/1.45 "Vollkorn Bold", sans-serif;
}

/* media queries
-------------------------------------------------------------------- */
@media screen and (max-width: 760px) {
    header {
        padding-top: 60px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 40px;
    }

    header h1 {
        font-size: 1.25rem;
    }

    main {
        padding: 20px 20px;
    }

    footer {
        padding-left: 20px;
        padding-right: 20px;
    }

    footer span {
        display: none;
    }
}
