/*
    author: Andres Guzman (andres@camino.bo)
    date: April, 2017
*/

/* fonts
--------------------------------------------------------------------------*/


@font-face {
    font-family: 'Days';
    src: url('fonts/days-webfont.woff2') format('woff2'), url('fonts/days-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Canaro';
    src: url('fonts/canaro-lightdemo-webfont.woff2') format('woff2'), url('fonts/canaro-lightdemo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* css reset
--------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a {
    outline: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* main
--------------------------------------------------------------------------*/

::selection {
    background: #343de1;
    color: #0c0d0d;
}

::-moz-selection {
    background: #343de1;
    color: #0c0d0d;
}

html {
    height: 100%;
}

body {
    color: #ffffff;
    height: 100%;
    line-height: 1;
    background-color: #0c0d0d;
    animation: fadein 3s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#izus {
    text-align: center;
    padding-top: 10px;
}

#izus img {
    width: 75px;
    height: 75px;
    animation: spin 20s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#soon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    color: #ffffff;
    font: 32px "Days", sans-serif;
}

p {
    font: 14px "Canaro", sans-serif;
    padding: 0 8px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 10px;
    font: 14px "Canaro", sans-serif;
    text-align: center;
}

footer span {
    font-family: Arial, Helvetica, sans-serif;
}